body {
  background-color: #668ba3; /* Soft blue background */
  color: #000000; /* Black font color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* style.css */
.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f8fa;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #000000; /* Black link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 20px;
}

/* style.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

/* style.css */
footer {
  background-color: #225c83;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #000000;
  text-decoration: none;
}
